.env

__pycache__/
agents/__pycache__
config/__pycache__
hitl/__pycache__
tools/__pycache__

data/*
!data/.gitkeep

input/*
!input/.gitkeep

logs/*
!logs/.gitkeep

output/*
!output/.gitkeep

tests/*
!tests/.gitkeep
